<a href="https://colab.research.google.com/github/evo4np/damp_preprocessing_2018/blob/master/preprocessing_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data preprosessing for year 2018

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#importing the files from the local drive
from google.colab import files
uploaded = files.upload()

Saving Stockholm E4 Skonertvägen.csv to Stockholm E4 Skonertvägen.csv

In [ ]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['Stockholm E4 Skonertvägen.csv']))#Dataset is now stored in a Pandas Dataframe

In [ ]:
station_157993 = pd.read_csv('Stockholm E4 Skonertvägen.csv',sep=';', skiprows=11)
station_157993.shape
station_157993

                 Start              Slut  ...  NOX as NO2 (4208)  PM10 (4209)
0     2018-01-01 00:00  2018-01-01 01:00  ...               44.8         58.9
1     2018-01-01 01:00  2018-01-01 02:00  ...               52.9         15.7
2     2018-01-01 02:00  2018-01-01 03:00  ...               33.8          8.6
3     2018-01-01 03:00  2018-01-01 04:00  ...               36.5          9.1
4     2018-01-01 04:00  2018-01-01 05:00  ...               17.5          6.9
...                ...               ...  ...                ...          ...
8755  2018-12-31 19:00  2018-12-31 20:00  ...                6.5          4.0
8756  2018-12-31 20:00  2018-12-31 21:00  ...                6.3          6.1
8757  2018-12-31 21:00  2018-12-31 22:00  ...                5.9          5.7
8758  2018-12-31 22:00  2018-12-31 23:00  ...                6.7          6.0
8759  2018-12-31 23:00  2019-01-01 00:00  ...                4.4          5.7

[8760 rows x 5 columns]

In [ ]:
station_157993["Station"] = "Stockholm E4 Skonertvägen"
station_157993

                 Start  ...                     Station
0     2018-01-01 00:00  ...  Stockholm E4 Skonertvägen
1     2018-01-01 01:00  ...  Stockholm E4 Skonertvägen
2     2018-01-01 02:00  ...  Stockholm E4 Skonertvägen
3     2018-01-01 03:00  ...  Stockholm E4 Skonertvägen
4     2018-01-01 04:00  ...  Stockholm E4 Skonertvägen
...                ...  ...                         ...
8755  2018-12-31 19:00  ...  Stockholm E4 Skonertvägen
8756  2018-12-31 20:00  ...  Stockholm E4 Skonertvägen
8757  2018-12-31 21:00  ...  Stockholm E4 Skonertvägen
8758  2018-12-31 22:00  ...  Stockholm E4 Skonertvägen
8759  2018-12-31 23:00  ...  Stockholm E4 Skonertvägen

[8760 rows x 6 columns]

In [ ]:
# creating bool series True for NaN values  
bool_series = pd.isnull(station_157993["NO2 (4207)"]) 
station_157993[bool_series]

                 Start  ...                     Station
172   2018-01-08 04:00  ...  Stockholm E4 Skonertvägen
194   2018-01-09 02:00  ...  Stockholm E4 Skonertvägen
1994  2018-03-25 02:00  ...  Stockholm E4 Skonertvägen
5631  2018-08-23 15:00  ...  Stockholm E4 Skonertvägen
5967  2018-09-06 15:00  ...  Stockholm E4 Skonertvägen
7405  2018-11-05 13:00  ...  Stockholm E4 Skonertvägen
8270  2018-12-11 14:00  ...  Stockholm E4 Skonertvägen
8580  2018-12-24 12:00  ...  Stockholm E4 Skonertvägen

[8 rows x 6 columns]

In [ ]:
# creating bool series True for NaN values  
bool_series = pd.isnull(station_157993["PM10 (4209)"]) 
station_157993[bool_series]

                 Start  ...                     Station
1045  2018-02-13 13:00  ...  Stockholm E4 Skonertvägen
1046  2018-02-13 14:00  ...  Stockholm E4 Skonertvägen
1047  2018-02-13 15:00  ...  Stockholm E4 Skonertvägen
1048  2018-02-13 16:00  ...  Stockholm E4 Skonertvägen
1357  2018-02-26 13:00  ...  Stockholm E4 Skonertvägen
...                ...  ...                         ...
6904  2018-10-15 16:00  ...  Stockholm E4 Skonertvägen
6905  2018-10-15 17:00  ...  Stockholm E4 Skonertvägen
6906  2018-10-15 18:00  ...  Stockholm E4 Skonertvägen
7280  2018-10-31 08:00  ...  Stockholm E4 Skonertvägen
8230  2018-12-09 22:00  ...  Stockholm E4 Skonertvägen

[67 rows x 6 columns]

In [ ]:
percent= 100*(len(station_157993.loc[:,station_157993.isnull().sum(axis=0)>=1 ].index) / len(station_157993.index))
print(round(percent,2))

100.0

In [ ]:
#finding missing value
percent_missing = station_157993.isnull().sum() * 100 / len(station_157993)
missing_value_station_157993 = pd.DataFrame({'column_name': station_157993.columns,
                                 'percent_missing': percent_missing})
missing_value_station_157993

                         column_name  percent_missing
Start                          Start         0.000000
Slut                            Slut         0.000000
NO2 (4207)                NO2 (4207)         0.091324
NOX as NO2 (4208)  NOX as NO2 (4208)         0.057078
PM10 (4209)              PM10 (4209)         0.764840
Station                      Station         0.000000

In [ ]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
        return mz_table


missing_zero_values_table(station_157993)

Your selected dataframe has 6 columns and 8760 Rows.
There are 3 columns that have missing values.

                   Zero Values  ...  Data Type
PM10 (4209)                  6  ...    float64
NO2 (4207)                   0  ...    float64
NOX as NO2 (4208)            0  ...    float64

[3 rows x 6 columns]

In [ ]:
#importing the files from the local drive
from google.colab import files
uploaded = files.upload()

Saving Stockholm E4:E20 Lilla Essingen.csv to Stockholm E4:E20 Lilla Essingen.csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Stockholm E4:E20 Lilla Essingen.csv']))#Dataset is now stored in a Pandas Dataframe

In [ ]:
station_18644 = pd.read_csv('Stockholm E4:E20 Lilla Essingen.csv',sep=';', skiprows=12)
station_18644.shape
station_18644

                 Start              Slut  ...  PM10 (342)  PM2.5 (343)
0     2018-01-01 00:00  2018-01-01 01:00  ...        39.6         25.9
1     2018-01-01 01:00  2018-01-01 02:00  ...        20.3          9.5
2     2018-01-01 02:00  2018-01-01 03:00  ...        14.5          2.9
3     2018-01-01 03:00  2018-01-01 04:00  ...        13.9          2.4
4     2018-01-01 04:00  2018-01-01 05:00  ...        13.3          4.3
...                ...               ...  ...         ...          ...
8755  2018-12-31 19:00  2018-12-31 20:00  ...         5.2          3.6
8756  2018-12-31 20:00  2018-12-31 21:00  ...         9.9          4.9
8757  2018-12-31 21:00  2018-12-31 22:00  ...        11.5          3.3
8758  2018-12-31 22:00  2018-12-31 23:00  ...         7.7          2.6
8759  2018-12-31 23:00  2019-01-01 00:00  ...        15.1          1.9

[8760 rows x 6 columns]

In [ ]:
station_18644['station'] = 'Stockholm E4:E20 Lilla Essingen'
station_18644

                 Start  ...                          station
0     2018-01-01 00:00  ...  Stockholm E4:E20 Lilla Essingen
1     2018-01-01 01:00  ...  Stockholm E4:E20 Lilla Essingen
2     2018-01-01 02:00  ...  Stockholm E4:E20 Lilla Essingen
3     2018-01-01 03:00  ...  Stockholm E4:E20 Lilla Essingen
4     2018-01-01 04:00  ...  Stockholm E4:E20 Lilla Essingen
...                ...  ...                              ...
8755  2018-12-31 19:00  ...  Stockholm E4:E20 Lilla Essingen
8756  2018-12-31 20:00  ...  Stockholm E4:E20 Lilla Essingen
8757  2018-12-31 21:00  ...  Stockholm E4:E20 Lilla Essingen
8758  2018-12-31 22:00  ...  Stockholm E4:E20 Lilla Essingen
8759  2018-12-31 23:00  ...  Stockholm E4:E20 Lilla Essingen

[8760 rows x 7 columns]

In [ ]:
missing_zero_values_table(station_18644)

Your selected dataframe has 7 columns and 8760 Rows.
There are 4 columns that have missing values.

                  Zero Values  ...  Data Type
PM2.5 (343)                35  ...    float64
PM10 (342)                  1  ...    float64
NO2 (344)                   0  ...    float64
NOX as NO2 (345)            0  ...    float64

[4 rows x 6 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Stockholm Folkungagatan 57.csv to Stockholm Folkungagatan 57.csv

In [ ]:
import io
station_155527 = pd.read_csv(io.BytesIO(uploaded['Stockholm Folkungagatan 57.csv'])) #Dataset is now stored in a Pandas Dataframe
station_155527 = pd.read_csv('Stockholm Folkungagatan 57.csv',sep=';', skiprows=11)
station_155527.shape
station_155527

                 Start              Slut  ...  NOX as NO2 (2086)  PM10 (2084)
0     2018-01-01 00:00  2018-01-01 01:00  ...               33.8         55.0
1     2018-01-01 01:00  2018-01-01 02:00  ...               22.7          9.1
2     2018-01-01 02:00  2018-01-01 03:00  ...               19.9          3.0
3     2018-01-01 03:00  2018-01-01 04:00  ...               17.2          4.6
4     2018-01-01 04:00  2018-01-01 05:00  ...               15.0          4.9
...                ...               ...  ...                ...          ...
1447  2018-03-02 07:00  2018-03-02 08:00  ...              159.8          6.0
1448  2018-03-02 08:00  2018-03-02 09:00  ...              173.5          8.0
1449  2018-03-02 09:00  2018-03-02 10:00  ...              219.4          9.9
1450  2018-03-02 10:00  2018-03-02 11:00  ...              261.8         11.1
1451  2018-03-02 11:00  2018-03-02 12:00  ...              184.4         11.7

[1452 rows x 5 columns]

In [ ]:
station_155527['Station'] = 'Stockholm Folkungagatan 57'
station_155527

                 Start  ...                     Station
0     2018-01-01 00:00  ...  Stockholm Folkungagatan 57
1     2018-01-01 01:00  ...  Stockholm Folkungagatan 57
2     2018-01-01 02:00  ...  Stockholm Folkungagatan 57
3     2018-01-01 03:00  ...  Stockholm Folkungagatan 57
4     2018-01-01 04:00  ...  Stockholm Folkungagatan 57
...                ...  ...                         ...
1447  2018-03-02 07:00  ...  Stockholm Folkungagatan 57
1448  2018-03-02 08:00  ...  Stockholm Folkungagatan 57
1449  2018-03-02 09:00  ...  Stockholm Folkungagatan 57
1450  2018-03-02 10:00  ...  Stockholm Folkungagatan 57
1451  2018-03-02 11:00  ...  Stockholm Folkungagatan 57

[1452 rows x 6 columns]

In [ ]:
missing_zero_values_table(station_155527)

Your selected dataframe has 6 columns and 1452 Rows.
There are 1 columns that have missing values.

             Zero Values  Missing Values  ...  % Total Zero Missing Values  Data Type
PM10 (2084)            0               3  ...                          0.2    float64

[1 rows x 6 columns]

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving Stockholm Hornsgatan 108 Gata.csv to Stockholm Hornsgatan 108 Gata.csv

In [ ]:
import io 
station_159403 = pd.read_csv(io.BytesIO(uploaded['Stockholm Hornsgatan 108 Gata.csv']))

In [ ]:
station_159403 = pd.read_csv('Stockholm Hornsgatan 108 Gata.csv',sep=';', skiprows=16) 
station_159403.shape
station_159403

                 Start              Slut  ...  PM10 (116)  PM2.5 (111)
0     2018-01-01 00:00  2018-01-01 01:00  ...        59.7         26.6
1     2018-01-01 01:00  2018-01-01 02:00  ...         7.5          6.7
2     2018-01-01 02:00  2018-01-01 03:00  ...         3.4          3.8
3     2018-01-01 03:00  2018-01-01 04:00  ...         4.8          3.9
4     2018-01-01 04:00  2018-01-01 05:00  ...         5.9          4.9
...                ...               ...  ...         ...          ...
8755  2018-12-31 19:00  2018-12-31 20:00  ...         2.8          2.0
8756  2018-12-31 20:00  2018-12-31 21:00  ...         2.9          2.0
8757  2018-12-31 21:00  2018-12-31 22:00  ...         5.0          3.5
8758  2018-12-31 22:00  2018-12-31 23:00  ...         7.1          4.9
8759  2018-12-31 23:00  2019-01-01 00:00  ...         7.5          5.1

[8760 rows x 10 columns]

In [ ]:
missing_zero_values_table(station_159403)

Your selected dataframe has 10 columns and 8760 Rows.
There are 8 columns that have missing values.

                     Zero Values  ...  Data Type
Black Carbon (4783)            5  ...    float64
Black Carbon (409)             0  ...    float64
O3 (537)                       0  ...    float64
PM10 (116)                     4  ...    float64
PM2.5 (111)                    0  ...    float64
CO (113)                       3  ...    float64
NO2 (115)                      0  ...    float64
NOX as NO2 (114)               0  ...    float64

[8 rows x 6 columns]

In [ ]:
uploaded = files.upload()

Saving Stockholm Hornsgatan 108 Tak.csv to Stockholm Hornsgatan 108 Tak.csv

In [ ]:
station_18638 = pd.read_csv(io.BytesIO(uploaded['Stockholm Hornsgatan 108 Tak.csv']))
station_18638 = pd.read_csv('Stockholm Hornsgatan 108 Tak.csv',sep=';' ,skiprows=11)
station_18638.shape
station_18638

                 Start              Slut  CO (540)  NO2 (538)  NOX as NO2 (539)
0     2018-01-01 00:00  2018-01-01 01:00      0.32       12.7              14.3
1     2018-01-01 01:00  2018-01-01 02:00      0.33       10.5              11.1
2     2018-01-01 02:00  2018-01-01 03:00      0.28        7.3               8.4
3     2018-01-01 03:00  2018-01-01 04:00      0.32        8.6               9.3
4     2018-01-01 04:00  2018-01-01 05:00      0.27        7.4               7.5
...                ...               ...       ...        ...               ...
8755  2018-12-31 19:00  2018-12-31 20:00      0.38        3.0               5.0
8756  2018-12-31 20:00  2018-12-31 21:00      0.35        2.5               5.1
8757  2018-12-31 21:00  2018-12-31 22:00      0.36        3.1               6.1
8758  2018-12-31 22:00  2018-12-31 23:00      0.37        4.6              10.2
8759  2018-12-31 23:00  2019-01-01 00:00      0.44        4.9              10.0

[8760 rows x 5 columns]

In [ ]:
missing_zero_values_table(station_18638)

Your selected dataframe has 5 columns and 8760 Rows.
There are 3 columns that have missing values.

                  Zero Values  ...  Data Type
CO (540)                    0  ...    float64
NO2 (538)                   0  ...    float64
NOX as NO2 (539)            0  ...    float64

[3 rows x 6 columns]

In [ ]:
uploaded = files.upload()

Saving Stockholm Hornsgatan 85 Gatunivå.csv to Stockholm Hornsgatan 85 Gatunivå.csv

In [ ]:
station_18639 = pd.read_csv(io.BytesIO(uploaded['Stockholm Hornsgatan 85 Gatunivå.csv']))
station_18639 = pd.read_csv('Stockholm Hornsgatan 85 Gatunivå.csv' ,sep=';' ,skiprows=11)
station_18639.shape
station_18639

                 Start              Slut  CO (536)  NO2 (534)  NOX as NO2 (535)
0     2018-01-01 00:00  2018-01-01 01:00      0.37       24.1              59.7
1     2018-01-01 01:00  2018-01-01 02:00      0.30       20.1              34.6
2     2018-01-01 02:00  2018-01-01 03:00      0.29       24.1              48.9
3     2018-01-01 03:00  2018-01-01 04:00      0.35       17.5              38.9
4     2018-01-01 04:00  2018-01-01 05:00      0.30       19.2              33.9
...                ...               ...       ...        ...               ...
8755  2018-12-31 19:00  2018-12-31 20:00      0.37        4.9              54.4
8756  2018-12-31 20:00  2018-12-31 21:00      0.34        9.0              17.4
8757  2018-12-31 21:00  2018-12-31 22:00      0.36        9.6              25.0
8758  2018-12-31 22:00  2018-12-31 23:00      0.39        9.2              15.3
8759  2018-12-31 23:00  2019-01-01 00:00      0.36       14.7              28.3

[8760 rows x 5 columns]

In [ ]:
missing_zero_values_table(station_18639)

Your selected dataframe has 5 columns and 8760 Rows.
There are 3 columns that have missing values.

                  Zero Values  ...  Data Type
CO (536)                    0  ...    float64
NO2 (534)                   0  ...    float64
NOX as NO2 (535)            0  ...    float64

[3 rows x 6 columns]